---
import Badge from '../components/badge.astro';
import SocialPill from '../components/social-pill.astro';
import Github from '../icons/github.astro';
import LinkIn from '../icons/linkin.astro';
import Mail from '../icons/mail.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="Porfolio de Maruan - Desarrollador y Programador Web"
	description='Contrata a Maruan Vicente para hacer realidad tu pr칩xmo proyecto web'>
	<main>
		<section class="w-full lg:w-[740px] py-44">
			<img class="rounded-full mb-4 size-24" src="./profile.jpeg" alt="Imagen de perfil de Maruan V. Cardenas">
			<h1 class="text-5xl font-bold flex gap-x-4 pb-4">
				Hey, Soy Maruan
				<a
					href="https://www.linkedin.com/in/maruan-cardenas/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-start">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-80 text-wrap">
				<span>+3 a침os de experiancia.</span>
				<span class="text-yellow-100/90">Desarrollador Web.</span>
				<span class="text-red-100/90">De C칩rdoba, Espa침a.</span> 
				<span class="opacity-80">Me Especializo en Next JS.</span>
			</h2>
			<nav class="flex gap-2 mt-4">
				<SocialPill link="https://www.linkedin.com/in/maruan-cardenas/">
					<LinkIn class="size-6" />
					LinkIn
				</SocialPill>
				<SocialPill link="https://github.com/Maruan-Cardenas">
					<Github class="size-6" />
					Github
				</SocialPill>
				<SocialPill link="https://github.com/Maruan-Cardenas">
					<Mail class="size-6" />
					Email
				</SocialPill>
			</nav>
		</section>
	</main>
</Layout>